*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 1140px;
    margin: auto;
}
.header-content{
    display: flex;
}
.left{
    background-color: #005861;
    width: 50%;
}
.left h3{
    color: #B3B853;
    padding: 15px 0px 10px 15px;
    font-family: 'Roboto';
}
.header .left .nav-bar ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 0px 60px 15px;
    
}
.header .left .nav-bar ul li a{
    color: white;
    font-family: 'Poppins';
    padding: 0px 0px 60px 15px;
}
.header-details{
    width: 30%;
    margin: auto;
}
.header-details h2{
    font-family: 'Roboto';
    color: #B4B753;
}
.header-details h1{
    font-family: 'Roboto';
    color: white;
    font-size: 48px;
}
.right{
    width: 50%;
    position: relative;
}
.icon-bar{
    position: absolute;
    top: 35%;
    left: 97%;

}
.icon-bar a{
    display: block;
    text-align: center;
    padding: 7px 10px 7px 10px;
    color: black;
    background-color: #f7dc4f;
    font-size: 14px;
}
.icon-bar a:hover{
    transform: scale(1.3);
    transition: .5s ease-in-outs;
    border-radius: 30%;
    
}
.about-me{
    text-align: center;
}
.details{
    background-color: #e8e8e8;
}
.description{
    width: 40%;
    padding-top: 50px;
    padding-bottom: 80px;
    margin: auto;
}
.description h1{
    color: #005861;
    font-family: 'Roboto';
    padding-bottom: 4px;
    text-align: center;
}
.description p{
    font-family: 'Poppins';
    line-height: 18px;
    color: #000000;
    font-size: 13px;
    padding-bottom: 15px;

}
.btn{
    padding-top: 15px;
}
.btn a button{
    background-color: #f7dc4f;
    padding: 10px 20px;
    color:#005861;
    border: none;

} 
.btn a button:hover{
    transition: 0.5s ease-in-out;
    background-color: #005861;
    color: #f7dc4f;
    
}
.show-header h1{
    text-align: center;
    color: #005861;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 35px;
    margin: 40px;

}
.photo h1{
    text-align: center;
    color: #005861;
    font-family: 'Roboto';
    font-size: 35px;
    margin: 40px;
    font-weight: 700;
}
.photo-top{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}
.photo-bottom{
    display: flex;
    justify-content: space-around;
}
.footer{
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer .contents{
    display: flex;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
    background-color: #005861;
}
.right h1{
    font-family: 'Roboto';
    font-size: 44px;
    color: #f9ff88;
    padding: 50px 0px 10px 70px;
}
.right h3{
    color: white;
    font-family: 'Poppins';
    padding: 10px 0px 10px 70px ;
}
.right h5{
    color: white;
    font-family: 'Poppins';
    padding: 10px 0px 5px 70px;
}
.right p{
    color: white;
    font-family: 'Poppins';
    padding: 0px 0px 5px 70px;
    font-size: 12px;
}
.icons{
    padding: 10px 0px 0px 70px;
}
.icons a i {
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    background: transparent;
    transition: 0.2s ease-in-out;
}
.icons a i:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    background-color: transparent;
    color: tomato;
}
.copy-right{
    text-align: center;
}
.copy-right span{
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto';
    letter-spacing: 2px;
    padding-bottom: 10px;

}

